@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); /* Nerko One */

:root{
    --cor1: white;
    --cor2: #FFA4EB;
    --cor3: #FBD1FF;
    --cor4: #B6005BD6;
}

body {
    font-family: Nerko One;
    background-color: #fff;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    color: #B6005BD6;
    font-family: "Coiny", system-ui;
    font-size: 18px;
}

p {
    font-size: 20px;
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.telafundo {
    width: 37vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: linear-gradient(#FBD1FF 0%, #FFA4EB 100%);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px var(--cor2);
    align-items: center;
    margin: 51px auto;
    padding: 25px;
}

.opc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 28vw;
}

.buttons {
    font-family: Nerko One;
    font-size: 18px;
    border: none;
    background-color: rgb(247, 247, 247);
    color: var(--cor4);
    border-radius: 15px;
    cursor: pointer;
    height: 4vh;
}

.buttons:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 5px rgb(247, 247, 247);
}

@media (max-width: 768px) {
    .telafundo {
        width: 90vw;
        height: auto;
        padding: 20px;
    }
    .opc {
        width: 75vw;
    }
    h1 {
        font-size: 24px; 
    }
    .buttons {
        font-size: 16px;
        height: 5vh;
    }
}

@media (max-width: 480px) {
    .telafundo {
        width: 90vw; 
        padding: 15px;
        gap: 20px;
    }
    .opc {
        width: 75vw; 
    }
    h1 {
        font-size: 20px;
    }
    .buttons {
        font-size: 14px;
        height: auto; 
        padding: 10px;
    }
}

@media (max-width: 325px) {
    .telafundo {
        width: 90vw; 
        padding: 10px;
    }
    .opc {
        width: 80vw;
    }
    h1 {
        font-size: 20px;
    }
    .buttons {
        font-size: 10px;
        height: auto;
        padding: 8px;
    }
}