@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap'); /*"Coiny", system-ui;*/
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); /* Nerko One */

:root {
    --cor1: white;
    --cor2: #FFA4EB;
    --cor3: #FBD1FF;
    --cor4: #B6005BD6;
}

h1{
    font-family: "Coiny", system-ui;
    text-align: center;
    padding-top: 30px;
    color: var(--cor4);
}

form{
    background: linear-gradient(#FBD1FF 0%, #FFA4EB 100%);
    width: 800px;
    height: 500px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px var(--cor2);
}

label{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;
    font-family: "Coiny", system-ui;
    color: var(--cor4);
}

input{
    border-radius: 8px;
    border: none;
    width: 90%;
    height: 35px;
    display: block;
    margin-left: 20px;
}

button{
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-family: Nerko One;
    padding: 5px;
    border-radius: 15px;
    background-color: #fc7de0;
    border: none;
    width: 25%;
    cursor: pointer;
    color: var(--cor4);
    margin: auto;
    margin-top: 20px;
}

button a{
    text-decoration: none;
    color: var(--cor4);
}

button a:hover, button:hover{
    color: var(--cor3);
    transform: scale(1.04);
}

::placeholder {
   font-family: "Coiny", system-ui;
   color: var(--cor4);
}

.ingredientes{
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    width: 90%;
    height: 100px;
    overflow-y: scroll;
    margin-left: 20px;
    font-family: "Coiny", system-ui;
    color: var(--cor4);
}

.cores{
    background-color: white;
    border-radius: 10px;
    width: 90%;
    margin-left: 20px;
    font-family: "Coiny", system-ui;
    color: var(--cor4);
}

.card{
    margin-top: 20px;
    width: 30%;
    gap: 50px;
}

.tudo{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

@media (max-width: 393px) {
    form {
        width: 85%;
    }
}